{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% block content %}
        <div class="container">

            {{form(form)}}
        </div>

    {% endblock %}

{% endblock %}
