<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />

        <link{{ asset('assets/css/bootstrap.css') }} rel="stylesheet">


    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="container">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{{path('app_livre')}}">Accueil</a>
                        <a class="nav-item nav-link" href="{{path('app_genre')}}">Genre</a>
                        <a class="nav-item nav-link" href="{{path('app_livre_form')}}">Ajouter un livre</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}

    </body>
</html>
